.wrap {
  margin-top: 5rem;
}

.head {
  margin-top: 10rem;
}
.text {
  justify-content: center;
}

.head h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.head h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.about-wrapper {
  border-bottom: 2px solid #172755;
  width: 80%;
  margin: 2rem auto;
  margin-top: 10rem;
  padding-bottom: 3rem;
}

.heading-about {
  color: #172755;
  margin: 1rem auto;
}

.rule-about {
  border: 0.2rem solid #7620ff;
  margin-bottom: 1rem;
  background-color: #7620ff;
}

.about {
  font-size: 1.5rem;
  width: 100%;

  font-family: "Poppins", sans-serif;
  color: #6b6f7d;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.about-image {
  width: 100%;
  margin-right: 2rem;
}
.about-image-right {
  width: 100%;
  margin-left: 2rem;
}
.about-image img {
  width: 100%;
  border-radius: 5%;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
}
.about-image-right img {
  width: 100%;
  border-radius: 5%;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.box {
  margin-top: 4rem;
}
